@font-face {
    font-family: iran-sans-eot;
    src: url(./fonts/iransans/IRANSans-Light.eot);
}
@font-face {
    font-family: iran-sans-ttf;
    src: url(./fonts/iransans/IRANSans-Light.ttf);
}
@font-face {
    font-family: iran-sans-woff;
    src: url(./fonts/iransans/IRANSans-Light.woff);
}
@font-face {
    font-family: iran-sans-woff-2;
    src: url(./fonts/iransans/IRANSans-Light.woff2);
}
@font-face {
    font-family: iran-sans;
    src: url(./fonts/iransans/IRANSans-Light.woff);
}
.woff-iransans{
    font-family:iran-sans-woff ;
}
.ttf-iransans{
    font-family: iran-sans-ttf;
}
.eot-iransans{
    font-family: iran-sans-eot;
}

body{
   
    font-family: 'iran-sans';
}