@font-face {
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/persian/IRANSansWeb(FaNum)_Bold.eot');
  src: url('./fonts/persian/IRANSansWeb(FaNum)_Bold.eot'),
  url('./fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('./fonts/persian/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');

}
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 500;
  src:url('./fonts/persian/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/persian/IRANSansWeb(FaNum)_Light.eot');
  src: url('./fonts/persian/IRANSansWeb(FaNum)_Light.eot') format('eot'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Light.woff') format('woff'),
  url('./fonts/persian/IRANSansWeb(FaNum)_Light.ttf') format('ttf');
}
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/persian/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('./fonts/persian/IRANSansWeb(FaNum)_UltraLight.eot') format('eot'),
  url('./fonts/persian/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
  url('./fonts/persian/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
  url('./fonts/persian/IRANSansWeb(FaNum)_UltraLight.ttf') format('ttf');
}
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: normal;
  src:url('./fonts/persian/IRANSansWeb(FaNum).woff2') format('woff2'),
  url('./fonts/persian/IRANSansWeb(FaNum).woff') format('woff'),
  url('./fonts/persian/IRANSansWeb(FaNum).ttf') format('ttf');
}
@font-face {
  font-family: 'IRANSans-Standard';
  src: url('./fonts/iransans/IRANSans-Light.eot');
  src: url('./fonts/iransans/IRANSans-Light.eot') format('eot'),
  url('./fonts/iransans/IRANSans-Light.woff2') format('woff2'),
  url('./fonts/iransans/IRANSans-Light.woff') format('woff'),
  url('./fonts/iransans/IRANSans-Light.ttf') format('ttf'),
  url('./fonts/iransans/IRANSans-Light.svg#IRANSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
.iran-sans{
  font-family: 'IRANSans';
}
