<template>
    <nuxt-link to="/blogDetails" class="flex justify-center ">
        <div class="card w-96   mt-4 bg-base-100 shadow-xl">
            <figure><img src="asset8.jpeg" alt="Shoes" /></figure>
            <div class="card-body flex items-center">
                <h2 class="card-title iran-sans "> بلاگ</h2>

            </div>
        </div>
    </nuxt-link>

</template>

<script>


</script>

<style>

</style>