<template>
    <div class="grid grid-cols-1 space-x-5 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4  md:grid-cols-3 ">
        <div style="background-image:url('asset24.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
            <div class="border ml-3 mt-2 w-12 text-center bg-green-400 border-green-400 rounded-lg text-white">
                جدید
            </div>
        </div>
        <div style="background-image:url('asset22.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
        </div>
        <div style="background-image:url('asset23.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
            <div class="border ml-3 mt-2 w-12 text-center rounded-lg bg-black border-black text-white">
                موجود
            </div>
        </div>
        <div style="background-image:url('asset25.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
        </div>
    </div>
</template>

<script>

</script>

<style>

</style>