<template>
    <div>
        <div class="grid grid-cols-1 space-x-5 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4  md:grid-cols-3 ">
            <div style="background-image:url('asset21.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
                <div
                    class="border iran-sans ml-3 mt-2 w-12 text-center bg-green-400 border-green-400 rounded-lg text-white">
                    جدید
                </div>
            </div>
            <div style="background-image:url('asset22.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
            </div>
            <div style="background-image:url('asset23.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
                <div class="border iran-sans ml-3 mt-2 w-12 text-center rounded-lg bg-black border-black text-white">
                    موجود
                </div>
            </div>
            <div style="background-image:url('asset24.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
                <div class="flex items-center mt-8 2xl:mt-14 xl:mt-14  relative justify-center h-screen w-full">
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 space-x-5 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4  md:grid-cols-3 ">
            <div style="background-image:url('asset25.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
                <div
                    class="border iran-sans ml-3 mt-2 w-12 text-center bg-green-400 border-green-400 rounded-lg text-white">
                    جدید
                </div>
            </div>
            <div style="background-image:url('asset26.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
            </div>
            <div style="background-image:url('asset27.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
                <div class="border iran-sans ml-3 mt-2 w-12 text-center rounded-lg bg-black border-black text-white">
                    موجود
                </div>
            </div>
            <div style="background-image:url('asset28.jpeg');" class=" w-56 mt-2 bg-no-repeat object-cover h-80 ">
            </div>
        </div>
    </div>
</template>
<script>

</script>

<style>

</style>